<div style="height: 100rem;">
    <h1> Filed.com - Python Test - Candidate: Subarna Pal </h1>
    <div style="height: 90%;">
        <mat-tab-group>
            <mat-tab label="CREATE">
                <div class="container" style="background-color: blueviolet;height:100rem;">
                    <div style="margin: 5%;">
                        <app-create></app-create>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="READ">
                <div class="container" style="background-color:palevioletred;height: 100rem;">
                    <div style="margin:5%">
                        <app-read></app-read>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="UPDATE">
                <div class="container" style="background-color:royalblue;height: 100rem;">
                    <div style="margin:5%">
                        <app-update></app-update>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="DELETE">
                <div class="container" style="background-color:pink;height: 100rem;">
                    <div style="margin:5%">
                        <app-delete></app-delete>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>